<h1>All Movies</h1>

<% if user_signed_in? %>
	<!-- Modal Trigger -->
	<a class="waves-effect waves-light btn" id="new-movie-modal-button">Add a movie</a>
<% end %>

<!-- Modal -->
<div id="new-movie-modal" class="modal modal-fixed-footer">
	<div class="modal-content">
	   <h4>Add a movie</h4>
		<%= render 'modalform' %>
 	</div>
</div>

<div class="movies">

   <div class="row">
		<% @movies.reverse_each do |movie| %>
			<%= render 'movie', movie: movie, class: "col" %>
		<% end %>
   </div>

</div>