<div class="row">
	<div class="col s12">
		<h1>Welcome, <%= @user.first_name %></h1>
		<%= image_tag @user.avatar.url, class: "materialboxed", width: "350px" %>
	</div>
</div>

<h3>Movies created:</h3>

<div class="movies">

   <div class="row">
		<% @user.creations.reverse_each do |movie| %>
			<%= render 'movies/movie', movie: movie, class: "col" %>
		<% end %>
   </div>

</div>