<h2>
	About This Site
</h2>
<p>
	This demo movie review site shows my proficiency with:
		<ul>
			<li>
				CSS frameworks (MaterializeCSS, in this case)
			</li>
			<li>
				Devise for user login functionality
			</li>
			<li>
				Rails UJS for ajax calls
			</li>
		</ul>
</p>